<%= javascript_include_tag "http://gettopup.com/releases/latest/top_up-min.js?fast_mode=1" %>
<% @images.each do |image| %>
    <div id='image_post'>
      <div id='voting_layout' class="halign">
          <% if image.upvote_exists(current_user) %>
              <%= link_to   image_tag("up_voted.png") %>
                <br>  &nbsp;  <font size="5"> <%= image.upscore + image.downscore %> </font>  <br>
                <%= link_to image_tag("down_arrow.png"), {:action => :downvote, :id => image.id} %>
          <% elsif image.downvote_exists(current_user) %>
                <%= link_to   image_tag("up_arrow.png") %>
                <br>  &nbsp;  <font size="5"> <%= image.upscore + image.downscore %> </font>  <br>
                <%= link_to image_tag("down_voted.png"), {:action => :downvote, :id => image.id} %>
          <% else %>
                <%= link_to   image_tag("up_arrow.png", :mouseover => "up_voted.png"), {:action => :upvote, :id => image.id} %>
                <br>  &nbsp;  <font size="5"> <%= image.upscore + image.downscore %> </font>  <br>
                <%= link_to image_tag("down_arrow.png", :mouseover => "down_voted.png"), {:action => :downvote, :id => image.id} %>
          <% end %>
          </div>
      </div>
      <div id='image_post' class="halign">

	<span id='image_top'>	
		<span id='image_username'> 
			<%= image.user.name %> 
		</span>
		<span id='image_caption'>
			<%= image.caption %>
		</span>
	</span>
	<div id='image_square' class='image_resizer'> 
		<%= link_to(image_tag(image.image.url(:large)), image.image.url ) unless image.image.nil? %>
	</div>
	<span id='image_time'>
		Posted <%= time_ago_in_words(image.created_at) %> ago.
	</span><br>
</div>
<br>
<% end %>
