<div id="navbar_right">
	
  		<% if current_user %>
    		<span id='image_username'><%= current_user.name %></span> |   
    		<%= link_to "Logout", logout_path %> | 
			<%= link_to "Upload Image", upload_path %>
  		<% else %>
    		<%= link_to "Signup", signup_path %> |
    		<%= link_to "Login", login_path %>
  		<% end %>
	
</div>