/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
#navbar_right {
font-size: 16px;
font-weight: bold;
height: 28px;
color: black;
font-family: sans-serif;
background-color: white;
background-color: white;

margin-top: 50px;
margin-right: 20px;
margin-bottom: auto;
margin-left: auto;
min-height: 20px;
float: right;

}

#banner{

}
#banner_image{
    margin-left: 20%;
}
#main {
	width: 700px;
	background-color: white;
	padding: 25px;
	padding-top: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
	margin: 0 auto;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	min-height: 150px;
}

#categories {
	text-align: center;
	padding: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
#categories { font-weight:bold; }
#categories a { font-weight:normal; }

#image_post {
	text-align: left;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	max-width: 650px;
	background-color: white ;
	padding: 5px;
	position: relative;
    margin-left: 0px;
}

#voting_layout {
    margin-left: -50px;
    margin-top: 200px;
}


.halign{
    position: absolute;

}
#image_voting {
	float: right;
}

#image_square {
	text-align: center;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: #f0f0f0;
	padding: 10px;
	margin: 0;
	line-height: 0;
	min-height: 10px;
	max-width: 700px;
	
}
#image_square img {
	max-width: 630px;
}
#image_username {
	background-color: red;
	padding: 4px;
	size: 14;
	margin-top: 5px;
	font-size: 20px;
	font-weight: bold;
	height: 30px;
	color: white;
	font-family: sans-serif;
}
#image_caption {
	background-color: yellow;
	padding: 4px;
	padding-bottom: 5px;
	size: 14;
	margin-top: 5px;
	font-size: 20px;
	font-weight: bold;
	padding: auto;
	color: black;
	font-family: Arial,sans-serif;
}
#image_time {
	background-color: white;
	padding: 3px;
	padding-bottom: 9px;
	size: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: bold;
	padding: auto;
	color: black;
	float: right;
	font-family: Arial,sans-serif;
}
#signup {
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	padding-left: 50px;
	padding-right: 50px;
	width: 400px;
	background-color: white ;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	color: black;
	font-size: 16px;
	border: 1px solid black;
}

#signup input {
background-color: white;
border: 1px solid #444442;
color: black;
font-size: 1.2em;
padding: 5px;
margin: 5px;
margin-left: 0px;

}
.error_messages {
	padding: 0px;
	font-family: sans-serif;
	word-spacing: normal;
	padding-bottom: 10px;
}
.field_with_errors {
	
	padding: 0px;
	margin: 0px;	
}
.field_with_errors label {
	font-weight: bold;
	color: red;
}



#signup p{
	font-family: sans-serif;
}
#signup h1{
	padding: 10px;
	text-align: center;
}

a:link, a:active, a:visited, a strong {
color: black;
text-decoration: none;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
margin: 0;
padding: 0;
font-family: sans-serif;
}
body{
	background-color: white ;
}
