<!DOCTYPE html>
<html>
<head>
  <title>Inzomb </title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body onclick = 'TopUp.close()' >

<div id="banner">
  <span id="banner_image"> <%= image_tag "banner2.PNG" %>   </span>
  <%= render 'shared/navbar' %>
</div>
        <div id="main">

		<div id="categories">
			<%= link_to_unless_current "Most Recent", images_path %> | 
			<%= link_to_unless_current "Top Votes", :controller => :image, :action => :votes %>
		</div>
		<div id="content">
			<%= yield %> 
		</div>
	</div>

</body>
</html>
